/* LoginPage.css */
.login-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: url('./assets/images/12345.jpg'); /* 替换为你的背景图片路径 */
    background-size: cover; /* 使背景图片覆盖整个容器 */
    background-position: center; /* 背景图片居中对齐 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
  }

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #2B2D42;
}

.form-group {
    margin-bottom: 15px;
    padding: 0 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2B2D42;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}
  
.error-message.shake {
  animation: shake 0.5s;
}

.error-message {
    /* 其他样式 */
    transition: transform 0.5s;
}
