/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 60px; /* 确保这个值与 header 的高度一致 */
  padding: 20px; /* 可选，增加额外的内边距以美化布局 */
}
