.h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.card {
    max-width: 100%; /* 設定卡片的最大寬度 */
}

.label {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.button {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}