.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 将内容向上对齐 */
    padding-top: 40px; /* 添加一些 padding 来微调位置 */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.forgot-password-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.74);
}

.forgot-password-form h2 {
    margin-top: 0;
    text-align: center;
    color: #2B2D42;
}

.forgot-password-form .form-group {
    margin-bottom: 15px;
    padding: 0 10px;
}

.forgot-password-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2B2D42;
}

.forgot-password-form .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 8px;
}

.forgot-password-form button[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password-form button[type="submit"]:hover {
    background-color: #555;
}

.forgot-password-message {
    margin-top: 20px;
    text-align: center;
    color: #28a745;
}

.message-container {
    padding-top: 10px;
    min-height: 30px; /* 根據需要設置最小高度 */
    display: flex;
    flex-direction: column;
}

body, h1, p, a {
    margin: 0; /* 去除外邊距 */
    padding: 0; /* 去除內邊距 */
    text-decoration: none; /* 去除連結下劃線 */
    /* font-family: Arial, sans-serif; 設置字體 */
}