/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 確保容器高度為視口高度 */
    background-image: url('../components/images/istockphoto-184948373-1024x1024.jpg'); /* 背景圖片 */
    background-size: cover; /* 使背景圖片完全覆蓋容器，保持圖片比例 */
    background-position: center; /* 背景圖片居中對齊 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    background-attachment: fixed; /* 背景圖片固定在視口上，滾動時不移動 */
  }  

.loginform-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.74)
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #2B2D42;
}

.form-group {
    margin-bottom: 15px;
    padding: 0 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2B2D42;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  /* 错误消息样式 */
  .error-message {
    color: red;
    font-weight: bold;

    transition: all 0.5s ease;
    /* 其他样式 */
  }
  
  /* 应用摇晃动画 */
  .shake {
    animation: shake 0.5s ease;
  }

  .error-placeholder {
    min-height: 40px; /* 设定一个最小高度，确保空白板有足够的空间 */
    display: flex;
    align-items: center;
  }
/* 跑馬燈 */
.marquee-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px; /* 调整高度 */
    background-size: contain; /* 完全覆盖容器 */
    background-position: center; /* 图片居中 */
    background-color: #ffffff88;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    z-index: 1000; /* 确保跑马灯在最上层 */
    overflow: hidden;
}

.marquee {
    display: flex;
    align-items: center;
    height: 100%; /* 让跑马灯内容填满容器 */
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

.marquee-content span {
    font-family: 'PopGothicCjkTc-Bold', sans-serif;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px; /* 控制每个内容之间的间距 */
    line-height: 50px; /* 与容器高度相同，使文字居中 */
    vertical-align: middle; /* 垂直居中 */
    font-size: 24px; /* 调整文字大小 */
}

.marquee-content img {
    vertical-align: middle; /* 确保图片与文本保持一致 */
}

@keyframes marquee {
    0% { transform: translateX(0); } /* 从初始位置开始 */
    100% { transform: translateX(-100%); } /* 向左滚动并循环 */
}

@font-face {
    font-family: 'PopGothicCjkTc-Bold';
    src: url('../components/fonts/PopGothicCjkTc-Bold.ttf') format('truetype');
}

.login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.login-footer p {
    margin: 0;
}

.login-footer a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.login-footer .forgot-password {
    margin-left: 1rem;
}

.captcha-group {
    display: flex;
    align-items: center;
    gap: 10px; /* 添加间距 */
  }
  
  .captcha-container {
    display: flex;
    align-items: center;
    margin-top: 11PX;
  }
  /*
  .captcha-image {
    width: 150px; /* 设置验证码图片的宽度 
    height: auto;
    /*cursor: pointer; /* 鼠标悬停时显示为指针 
    cursor: url('/public/UserImages/2717379.ico'), auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
*/
    body {
        /*cursor: none; */
    }
  /* .custom-cursor {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('/public/UserImages/122.gif') no-repeat center center;
    background-size: contain;
    pointer-events: none;} /* 使光標不可點擊 */
     */
    
  
  .refresh-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* 添加左边距 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
  }
  
  .refresh-button:hover {
    transform: rotate(180deg); /* 鼠标悬停时旋转效果 */
  }
  
  .refresh-button svg {
    width: 24px; /* 设置图标宽度 */
    height: 24px; /* 设置图标高度 */
  }
  