.resetPasswordContainer {
  max-width: 400px;
  width: 100%;
  margin: 60px auto 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #2B2D42;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.formGroup {
  margin-bottom: 15px;
  padding: 0 10px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2B2D42;
}

.formGroup input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.successMessage {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.submitButton {
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #555;
}

.submitButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}
