.top-bar {
    background-color: #333;
    color: white;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000; /* Ensure the header stays on top */
}

.top-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo {
    font-size: 24px;
}

.navigation {
    display: flex;
    gap: 15px;
}

.navigation a {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
}

.login-btn button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.login-btn button:hover {
    background-color: #777;
}

.logout-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.hamburger-menu {
    width: 40px;
    height: 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #9292929f;
    margin-bottom: 4px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-menu span:last-child {
    margin-bottom: 0;
}

.hamburger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 41px; /* Adjust this value as needed */
    background-color: #333333f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    pointer-events: none; /* Prevent clicks when hidden */
    padding: 10px 0;
    box-sizing: border-box;
}

.dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Make it visible */
    pointer-events: auto; /* Allow clicks when visible */
}

.dropdown-menu a,
.dropdown-menu button {
    display: block; /* Ensure each item is on a new line */
    padding: 10px 20px; /* Add padding for spacing */
    color: white;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background-color: #555; /* Change background color on hover */
}
