.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 限制顯示行數 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 省略號 */
}

.title {
    color: black;
}

.title:hover {
    color: rgb(4, 128, 230);
}