body, h1, p, a {
    margin: 0; /* 去除外邊距 */
    padding: 0; /* 去除內邊距 */
    text-decoration: none; /* 去除連結下劃線 */
}

#profile_avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;/*圖片超出外框自動裁切*/
    border-radius: 15px;
}

.avatarName{
    color: black;
    font-weight: bold;
    font-size:large;
    font-family: Arial, sans-serif; /* 設置字體 */
}

.profile_picture_wrapper {
    margin-left: 2px;
}

.photo {
    font-weight: bold;
    width: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}


.mymodal {
    width: 500px;
    height: 300px;
}

.p {
    color: black;
}