h2 {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.content {
    font-size: small;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
